@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto+Slab:wght@600&display=swap');
:root *{
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

header,
footer {
    text-align: center;
    background-color: #efefef;
}

header {
    border-bottom: #ccc 1px solid;
    padding: 1em 0;
}

footer {
    border-top: #ccc 1px solid;
    padding: 0.5em 0;
    color: #979797;
}

/* Container Styles */
.white {
    background-color: white;
    color: #222;
}

.black {
    background-color: black;
    color: #eee;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 2em 0;
}

.narrow {
    max-width: 1000px;
    width: 75%;
    margin: 0 auto;
}

.layers {
    /* Use this to layer images and create animated effects*/
    position: relative;
}

/* Typography Styles */
h1, h2, h3 {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

.narration,
.dialog {
    font-family: 'Edu SA Beginner', Verdana, Geneva, Tahoma, sans-serif;
}

.narration {
    font-size: 1.5rem;
}

.dialog {
    font-size: 1.4rem;
}

.meta {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
}

/* Image Styles */
.hero {
    /* bleeding */
    width: 100%;
    height: auto;
    max-width: 1300px;
}

.panelL {
    /* full width */
    width: 100%;
    height: auto;    
    max-width: 800px;
}

.panelM {
    /* 1/2 of max row width */
    width: 100%;
    height: auto;
    max-width: 450px;
}

.panelS { 
    /* 1/3 of max row width */
    width: 100%;
    height: auto;
    max-width: 250px;
}

.onoma {
    /* layers on top of main */
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.speech-bubble {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    background-color: white;   
    border-radius: 5px; 
    border: 6px solid transparent;
    border-image: url(./assets/speech.png) 33% stretch;
}

.speech-bubble.right::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/speech-tail-right.png');
}

.speech-bubble.left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/speech-tail-left.png');
}

.speech-bubble.left-top::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -23px;
    left: 55%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/speech-tail-left-top.png');
}


/* UI Styles */
.btn-group {
    margin: 2rem auto;
}
.btn-group button{
    border-color: transparent;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 0.85rem;
    padding: 0.3em 0.75em;
    text-transform: uppercase;
    color: #9e9e9e;
    background: rgba(158, 158, 158, 0.10);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.btn-group button:hover {
    background-color:  rgba(158, 158, 158, 0.40);
    cursor: pointer;
}
.btn-group button:first-child {
    border-radius: 1rem 0 0 1rem;
    padding-left: 2em;
    background-image: url('./assets/icons/chevron_left.svg');
    background-position-x:left;

}
.btn-group button:last-child {
    border-radius: 0 1rem 1rem 0;
    padding-right: 2em;
    background-image: url('./assets/icons/chevron_right.svg');
    background-position-x:right;
}

